---
import { getUserWithData } from '@/lucia/user'

const user = await getUserWithData(Astro.cookies.get('auth_session')?.value)

if (!user || user.paid !== true) return new Response(null, { status: 403 })
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body class="font-display overflow-x-hidden">
    <span> Protected and Paid Content </span>
  </body>
</html>
